.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__title {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.clients__list {
    display: flex;
}

.clients__item {
    --grid__item: 2;

    @media screen and (min-width: 768px) {
        --grid__item: 3;
    }
    @media screen and (min-width: 1200px) {
        --grid__item: 6;
    }
    /*     width: calc((100% - 5 * 30px) / 6);
    margin-top: -30px;

  &:not(:last-child) {
    margin-right: 30px;
  } */
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    border: 1px solid #afb1b8;

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }

    &:hover .clients__logo,
    &:focus .clients__logo {
        fill: var(--accent-color);
    }
}
.clients__logo {
    fill: #afb1b8;
    transition: var(--animation);
    transition-property: fill;
}
