.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--grey-background-color);

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__title {
    margin-bottom: -30px;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        padding-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 50px;
    }
}

.team__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__item {
    --grid__item: 1;
    text-align: center;
    background: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 1200px) {
        --grid__item: 4;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .team__list {
        justify-content: center;
    }

    .team__item {
        --grid__item: 2;
        /*     min-width: 450px; */
    }
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__member--position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
}
